%head
  %link{ href: 'http://fonts.googleapis.com/css?family=Inconsolata', rel:'stylesheet', type: 'text/css' }
  %style
    :plain
      body{
        background: #FFFFFF;
        color: #000000;
        font-size: 11px;
        font-family: 'Verdana', arial, serif;
      }
      div.ultimo_aggiornamento {
        margin: 10px;
        text-align: center;
        width: 100%
        
      }
      
      .alt {
        color: #000000;
        background: #EEEEEE;
      }
      
      td {
        padding: 1px;
      }
      
      a {
        color: #666666;
      }
      a:hover {
        color: #FF0000;
      }
      
      .one_pts div {
        float: left;
        padding: 2px 4px;
      }
      
      .one_pts img {
        float: left;
      }
      
      #container {
        padding: 0 30px;
      }
      
      table {
        width: 100%;
        color: #000000;
        font-size: 11px;
        border: 1px solid #999999;
      }
      
      table th {
        background: #dddddd;
        font-weight: bold;
        padding: 3px;
        color: #0066FF;
        border-bottom: 1px solid #999999;
        text-align: left;
      
      tr {
        color: #dddddd;
      }
   
      .one_wins {
        color: #12E73D;
      }
      .one_lose {
        color: #E7200E;
      }
      .one_playeds {
        color: #E9D435;
      }
      
      .one {
        text-align: center;
      }
      
      
      
%body
  -# provare Firequery 
  #container
    %table#profiles{ cellspacing: 0 }
      %tr
        %th Rank
        %th Name
        %th Pts
        %th Wins
        %th Lose
        %th Playeds
        %th Division-Rank
      - Profile.all.each_with_index do |profile, idx|
        %tr{ class: "#{"alt" if idx % 2 == 0}" }
          %td.pos #{idx+1}
          %td.name
            %a{ href: profile.url }= profile.name
          %td.one_pts  
            %img.badge{style:"width: 16px;", src: "http://eu.battle.net/sc2/static/images/icons/league/#{rank profile.one_league}-small.png" }
            %div=      profile.one_pts
          %td.one_wins=     profile.one_playeds
          %td.one_lose=     profile.one_wins-profile.one_playeds
          %td.one_playeds=  profile.one_wins
          %td.one_division #{profile.one_division} ##{profile.one_rank}
        
  - upd_at = Stats.first.updated_at    
  %div.ultimo_aggiornamento= upd_at.strftime("Ultimo aggiornamento: %d/%m/%Y %H:%M") unless upd_at.blank?